{% extends "otreeutils/ExtendedPage.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Weitere Entscheidungen
{% endblock %}

{% block content %}

<p><span>Sie werden nun als Arbeitgeber einige weitere&nbsp;<strong>Entscheidungen</strong>&nbsp;der bereits bekannten Form treffen. Dabei erhalten Sie wieder Kurzprofile zweier zur Auswahl stehenden Personen. Ihr Ziel ist wie zuvor, jeweils diejenige Person auszuw&auml;hlen, welche den Job besser macht, also eine&nbsp;<strong>h&ouml;here Leistung </strong>in der Aufgabe&nbsp;<strong><u>Logisches Folgern</u></strong>&nbsp;erzielt hat. </span></p>
<p><span>Wenn Sie alle Entscheidungen getroffen haben, w&auml;hlt der Computer zuf&auml;llig eine dieser Entscheidungen aus, welche dann zu Ihrer Entlohnung beitr&auml;gt. </span><span>Falls Sie in dieser Entscheidung die bessere Person ausgew&auml;hlt haben, erhalten Sie weitere 6 &euro;, andernfalls 0 &euro;. Jede Entscheidung hat die gleiche Wahrscheinlichkeit ausgew&auml;hlt zu werden.</span></p>
<p><span>In wenigen Sekunden (siehe oben) erscheint der Button um zu beginnen.</span></p>
<br>
{%  next_button %}
{% endblock %}

