{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Einführung
{% endblock %}

{% block content %}

<p><span>Willkommen! In diesem Experiment geht es darum, <strong>acht Aufgaben</strong> zu bearbeiten, in denen Sie <strong>Geld verdienen</strong> k&ouml;nnen. Dieses Geld wird zu Ihrem Fixbetrag von 5 &euro; hinzugez&auml;hlt, den Sie mit Ihrem Erscheinen &nbsp;verdient haben.</span></p>
<p><span>Wenn Sie teilnehmen, ist Ihre Anonymit&auml;t in der Studie garantiert. Ihre Identit&auml;t wird nicht mit den Entscheidungen, die Sie hier treffen, in Verbindung gebracht. Au&szlig;erdem wird kein anderer Teilnehmer in dieser Studie Sie mit den Entscheidungen, die Sie hier im Experiment machen, in Verbindung bringen k&ouml;nnen.</span></p>
<p><strong><span>Einige Regeln:</span></strong></p>
<p><span>Bitte schalten Sie sp&auml;testens jetzt Ihre Mobiltelefone aus.</span></p>
<p><span>Wenn Sie zu irgendeinem &nbsp;Zeitpunkt im Experiment irgendeine Frage haben, heben Sie bitte einfach die Hand.</span></p>
<p><span>Bitte legen Sie Telefone, B&uuml;cher, Laptops oder andere Dinge, die Sie mitgebracht haben, jetzt zur Seite. Bitte sprechen Sie w&auml;hrend des gesamten Experiments nicht mit anderen Teilnehmern, und schauen Sie auch nicht auf die Bildschirme anderer Teilnehmer.</span></p>
<p><strong><span>&Uuml;berblick &uuml;ber das heutige Experiment:</span></strong></p>
<p><span>Die Abfolge f&uuml;r das Bearbeiten der acht Aufgaben wird wie folgt sein: Sie werden die Anleitun<span>g</span> f&uuml;r Aufgabe 1 erhalten und gleich danach Aufgabe 1 bearbeiten. Dann werden Sie die Anleitung f&uuml;r Aufgabe 2 erhalten, usw. Sie werden also stets die Anleitung f&uuml;r eine Aufgabe erhalten und diese bearbeiten bevor Sie zur n&auml;chsten Aufgabe kommen.</span></p>
<p><span>In jeder Aufgabe h&auml;ngt Ihre m&ouml;gliche Entlohnung davon ab wie viele Teilaufgaben Sie richtig beantwortet haben. Vor jeder Aufgabe werden Sie, zus&auml;tzlich zur Anleitung f&uuml;r die Aufgabe, auch eine genaue Erkl&auml;rung erhalten wie die Entlohnung f&uuml;r diese Aufgabe berechnet wird. Wenn Sie alle Aufgaben bearbeitet haben, wird <strong>eine der ersten f&uuml;nf Aufgaben</strong> zuf&auml;llig ausgew&auml;hlt, und f&uuml;r diese Aufgabe erhalten Sie am Ende des Experiments die entsprechende Entlohnung. In Aufgaben 7 und 8 haben Sie nochmals die M&ouml;glichkeit, zus&auml;tzliches Geld zu verdienen. Auch hier wird Ihnen zusammen mit der Anleitung erkl&auml;rt wie sich Ihre Entlohnung berechnet.</span></p>
<p><span>Zu keinem Zeitpunkt in diesem Experiment k&ouml;nnen Sie Geld verlieren. Ihre Gesamtauszahlung wird sich dementsprechend zusammensetzen aus (i) der Entlohnung f&uuml;r die zuf&auml;llig ausgew&auml;hlte Aufgabe aus Aufgaben 1 bis 5, (ii) der Entlohnung f&uuml;r Aufgaben 7 und 8, und (iii) Ihrem Fixbetrag. Am Ende des Experiments erfahren Sie Ihre Gesamtauszahlung, und auch die Teilbetr&auml;ge (i), (ii) und (iii) wie eben beschrieben, sowie welche Aufgabe f&uuml;r (i) zuf&auml;llig ausgew&auml;hlt wurde. Danach erhalten Sie Ihre Gesamtauszahlung einzeln im Nebenraum in bar.</span></p>
<p><span>In jeder Aufgabe, in der Sie Geld verdienen k&ouml;nnen, haben Sie begrenzte Zeit, diese Aufgabe zu bearbeiten. Diese maximale Bearbeitungszeit erfahren Sie jeweils in der vorhergehenden Anleitung, und w&auml;hrend der Bearbeitung sehen Sie die verbleibende Zeit am Bildschirm. Nach Zeitablauf werden Sie <strong>automatisch weitergeleitet</strong>. Keine der Aufgaben hat eine Zeitbegrenzung von mehr als 5 Minuten. Die Uhr wird in jeder Aufgabe erst zu laufen beginnen, nachdem Sie die M&ouml;glichkeit hatten, die Anleitung zu lesen und ein Beispiel anzusehen. Auch w&auml;hrend Sie die Anleitungen lesen wird eine Uhr laufen. Diese ist allerdings nur als Richtlinie gedacht, hier werden Sie nicht automatisch weitergeleitet.</span></p>
<p><span style="color: #ff0000;">Klicken Sie nun auf den Button wenn Sie bereit sind zu beginnen! </span><span>(Bitte beachten Sie, dass wir an einigen Stellen im Experiment warten m&uuml;ssen bis alle Teilnehmer fertig sind, bevor es weitergeht. Wir ersuchen Sie in diesem Fall um Geduld beim Warten.)</span></p>
    <br>

    {% next_button %}

{% endblock %}
