{% extends "otreeutils/ExtendedPage.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Aufgabe 6: Emotionen im Team
{% endblock %}

{% block content %}
<p><span>In dieser Aufgabe bitten wir Sie, Fragen bez&uuml;glich Ihrer Gef&uuml;hle w&auml;hrend Teamarbeit zu beantworten. Geben Sie dabei den Grad Ihrer Zustimmung von <strong>1 (trifft stark zu) bis 7 (trifft &uuml;berhaupt nicht zu) </strong>zu jeder der nachfolgenden Aussagen an, welche von Ihren Gef&uuml;hlen in einem Team handeln. Wenn Sie dabei an ein konkretes Team denken, w&auml;hlen Sie am besten ein Ihnen vertrautes Team, in dem Sie arbeiten. </span></p>
<p><span>Diese Aufgabe wird nicht zu Ihrer Bezahlung beitragen. Wir bitten Sie, die Fragen so sorgf&auml;ltig und ehrlich zu beantworten wie m&ouml;glich.</span></p>
<p><span style="color: #ff0000;">Klicken Sie den Button wenn Sie bereit sind.</span></p>
    {% next_button %}

{% endblock %}
