{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load otreechat %}
{% block title %}
        Teilaufgabe 12
{% endblock %}

{% block content %}
    <br><br>
Welches dieser Ereignisse geschah nicht an einem 9. November?
<br><br>
        {% formfield  player.KnowG12 with label="Wählen Sie die Antwort Ihrer Gruppe" %}

 {% chat nickname=player.nicky %}

<style>

    .otree-chat__nickname {
        color: #505050;
        font-weight: bold;
    }
</style>

  <br>

    {% next_button %}

{% endblock %}
