{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load otreechat %}
{% block title %}
        Unteraufgabe 29
{% endblock %}

{% block content %}
    <br><br>
Wie heißt einer der berühmtesten Maler des Expressionismus?
<br><br>
        {% formfield  player.KnowG29 with label="Choose your group's response" %}

    {% chat nickname=player.nicky %}

<style>

    .otree-chat__nickname {
        color: #505050;
        font-weight: bold;
    }
</style>

  <br>

    {% next_button %}

{% endblock %}
