{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load otreechat %}
{% block title %}
    Teilaufgabe 24
{% endblock %}

{% block content %}
    <br><br>
Welches ist der höchste Berg Österreichs?
<br><br>
        {% formfield  player.KnowG24 with label="Wählen Sie die Antwort Ihrer Gruppe" %}

     {% chat nickname=player.nicky %}

<style>

    .otree-chat__nickname {
        color: #505050;
        font-weight: bold;
    }
</style>

  <br>

    {% next_button %}

{% endblock %}
