{% extends "otreeutils/ExtendedPage.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Aufgabe 4: Muster Erkennen
{% endblock %}

{% block content %}
<p><span>In dieser Aufgabe erhalten sie bis zu <strong>10 Teilaufgaben</strong>, in denen es darum geht, <strong>Muster zu erkennen</strong>. In jeder der Teilaufgabe werden Sie neun Zellen sehen, von denen die ersten acht ein Objekt enthalten, und die neunte noch leer ist. Ihre Aufgabe ist es, aus mehreren zur Auswahl stehenden Objekten dasjenige f&uuml;r die leere neunte Zelle zu w&auml;hlen, welches das bestehende Muster vervollst&auml;ndigt. </span></p>
<p><span>Sie erhalten <strong>{{ Constants.pointsMat }}</strong> f&uuml;r jede richtige Antwort, die sie in den zur Verf&uuml;gung stehenden <strong>5 Minuten </strong>geben.</span></p>
<p><span>Hier sehen Sie ein Beispiel:</span></p>
    <img style="border: #000000 4px outset" src="{%  static "images/matexample.png" %}"/>

    <br><br>
<p><strong><span>C</span></strong><span> w&auml;re hier die richtige Antwort.</span></p>
<p><span style="color: #ff0000;">Klicken Sie den Button wenn Sie bereit sind. Sobald alle anderen ebenso bereit sind, beginnt automatisch die Bearbeitungszeit, also beachten Sie Ihren Bildschirm.</span></p>
    {% next_button %}

{% endblock %}

